.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
      display: flex;
      flex-direction: column; 
      align-items: center;    
      text-align: center;
  cursor: pointer;
    }

q {
  font-size: small;
  font-style: italic;
  margin-top: 30px;
}

